body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column;
  height: 100vh;
}
a {
  color: #00B7FF;
}
.container-fluid{
  padding:10px;
}
.main-body{
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-top:0px;
  padding-bottom:0px;
}
.card-footer {
  padding-bottom:5rem;
}
div.card-footer p {
  margin-bottom:0px;
}
div.col {
  margin-top:2rem;
}
.btn.btn-sqr {
  border-radius: 0 !important;
}
.header-top {
  padding-bottom:calc(1rem / 2);
}
.header-top h3{
  display:inline-block;
  margin-bottom:0px;
}
.movie-card {
  width: 25rem;
}
.negative {
  float:left;
}
.affirmative {
  float: right;
}
.fill-height{ 
  height:100%;
}
.fill-width{
  width:100%;
}
.center {
  margin: 0;
  position: absolute;
  left: 25%;
  transform: translate(50%, 0%);
}

/* friends section */
.friends-menu{
  padding-top:1rem;
  border-right: 3px dotted black;
  overflow-y:auto;
}
.friends-main{
  margin-top:0rem !important;
}
.friends-lookup{
  padding-bottom:1rem !important;
  padding-left:15px !important;
  padding-right:15px !important;
  border-bottom: 3px dotted black;
}
.list-group-item-action {
  margin-top:1rem !important;
}
.tab-pane{ 
  text-align:center;
  width:100%;
}
.user-lookup-response-space{
  text-align:center;
}
.matched-movies .row.title .col {
  text-align:center;
}
.friend-controls .col{ 
  margin-top:0px;
}
.friend-controls .col.add{ 
  padding-right:0px;
}
.friend-controls .col.remove{ 
  padding-left:0px;
}
div.friend-requests {
  margin-bottom: 2rem;
}
.find-matched { 
  margin-bottom: 1rem;
}

/* Color Palette */
:root{
  --red-1: #b20405;
  --red-2: #b62810;
  --orange-1: #bc3f09;
  --orange-2: #9e3c17;
  --orange-3: #c58b0e;
  --brown-1: #5a4824;
  --brown-2: #9f5410;
  --brown-3: #ab8d44;
  --yellow-1: #fcdf1f;
  --yellow-2: #f0e186;
}

/* Coloring the page nicely below this point */
.main-body, 
.title-display,
.main-body .row {
  /* These need to be the same color so we get around growing and color issues */ 
  background: var(--yellow-2);
}

.yellow-2{
  background: var(--yellow-2);
}
.navbar {
  background: var(--red-2);
}
.navbar .nav-item a, 
.nav-item .dropdown-menu a,
.nav-item .dropdown a,
li.nav-item.dropdown,
.navbar a {
  color: black;
}
.navbar .nav-item a:hover, 
.nav-item .dropdown-menu a:hover,
.nav-item .dropdown a:hover,
li.nav-item.dropdown:hover,
.navbar a:hover {
  color: var(--yellow-2);
}
.btn-outline-light {
  border-color: var(--yellow-1) !important;
  color:var(--yellow-1) !important;

}
.btn-outline-light:hover {
  border-color: var(--yellow-1) !important;
  background-color: var(--yellow-1) !important;
  color:black !important;

}
.btn-yes, .btn-yes:hover, .btn-yes:active, .btn-yes:visited {
  border-color: var(--yellow-1) !important;
  background-color: var(--yellow-1) !important;
  color:black !important;
}
.btn-no, .btn-no:hover, .btn-no:active, .btn-no:visited {
  border-color: var(--red-1) !important;
  background-color: var(--red-1) !important;
  color:black !important;
}
.btn-primary{
  border-color: var(--brown-2) !important;
  background-color: var(--brown-2) !important;
  color: var(--yellow-2) !important;
}
